<div class="container">
<br>
<h1>Upload a picture</h1><hr>

<form class="form" action="/upload" method="post">
<input type="file" class='form-control' name="img" value=""><br>
<input type="submit" style='float:right' class='btn btn-info' name="submit" value="Submit">
</form>

</div>
